<!-- src https://github.com/michaelben/product-catalog-demo/blob/master/app/js/controllers.js -->
<div class="container-fluid">

  <div class="page-header">
        <h1>Produktauswahl</h1>
        <p class="lead">Dieser Teil hat kein offensichtliches Ende. Informieren Sie sich, so lange Interesse vorhanden ist und schliessen Sie die Seite, wenn Sie mit der Informationssuche fertig sind. <br/> Hinweis: Einige Links öffnen ein neues Browserfenster. Sämtliche Navigationen auf diesen externen Seiten werden nicht aufgezeichnet. Stellen Sie sicher, dass dieses ursprüngliche Fenster mit der Clickstream Applikation nicht aus versehen geschlossen wird.</p>
  </div>

  <button ui-sref="product({productId: '{{product.id}}'})"
        type="button"
        class="btn product_overview"
        ng-repeat="product in products">

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-2">
                    <img ng-src="{{product.imageUrl}}" width="100">
                </div>
                <div class="col-md-6">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>{{product.name}}</h3>
                            </div>
                      </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>{{product.snippet}}</p>
                            </div>
                      </div>
                </div>
          </div>
        </div>
    </div>
  </button>

  <p>
    <a  ng-click="outgoingLink('cc-img')" target="_blank" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Dieses Werk ist lizenziert unter einer <a  ng-click="outgoingLink('cc-txt')" target="_blank" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a>.
  </p>

</div>