<table class="infobox wikitable float-right" style="margin-top: 0; width: 250px" summary="Infobox PKW-Modell">
<tbody><tr>
<th colspan="2" style="color:#000000; background:#d0d0ff;"><a  ng-click="outgoingLink('Audi')" target="_blank" href="https://de.wikipedia.org/wiki/Audi" title="Audi">Audi</a></th>
</tr>
<tr>
<td colspan="2">
<div class="center">
<div class="floatnone"><a  ng-click="outgoingLink('AUDI_TFSI')" target="_blank" href="https://de.wikipedia.org/wiki/Datei:Audi_A3_8V_1.4_TFSI_Ambiente_Misanorot.JPG" class="image" title="Audi A3 Dreitürer (2012–2016)"><img alt="Audi A3 Dreitürer (2012–2016)" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/51/Audi_A3_8V_1.4_TFSI_Ambiente_Misanorot.JPG/250px-Audi_A3_8V_1.4_TFSI_Ambiente_Misanorot.JPG" width="250" height="167" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/51/Audi_A3_8V_1.4_TFSI_Ambiente_Misanorot.JPG/375px-Audi_A3_8V_1.4_TFSI_Ambiente_Misanorot.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/51/Audi_A3_8V_1.4_TFSI_Ambiente_Misanorot.JPG/500px-Audi_A3_8V_1.4_TFSI_Ambiente_Misanorot.JPG 2x" data-file-width="2579" data-file-height="1719"></a></div>
</div>
<p style="font-size:smaller; text-align:center; font-style:italic;">Audi A3 Dreitürer (2012–2016)</p>
</td>
</tr>
<tr>
<th colspan="2" style="color:#000000; background:#a7a7ff;">A3 8V</th>
</tr>
<tr>
<td>Verkaufsbezeichnung:</td>
<td><i>A3</i></td>
</tr>
<tr>
<td>Produktionszeitraum:</td>
<td>seit 2012</td>
</tr>
<tr>
<td><a  ng-click="outgoingLink('Fahrzeugklasse')" target="_blank" href="https://de.wikipedia.org/wiki/Fahrzeugklasse" title="Fahrzeugklasse">Klasse</a>:</td>
<td><a  ng-click="outgoingLink('Kompaktklasse')" target="_blank" href="https://de.wikipedia.org/wiki/Kompaktklasse" title="Kompaktklasse">Kompaktklasse</a></td>
</tr>
<tr>
<td><a  ng-click="outgoingLink('Karosserieversionen')" target="_blank" href="https://de.wikipedia.org/wiki/Karosseriebauform" title="Karosseriebauform">Karosserieversionen</a>:</td>
<td><a  ng-click="outgoingLink('Kombilimousine')" target="_blank" href="https://de.wikipedia.org/wiki/Kombilimousine" title="Kombilimousine">Kombilimousine</a>, <a  ng-click="outgoingLink('Limousine')" target="_blank" href="https://de.wikipedia.org/wiki/Limousine" title="Limousine">Limousine</a>, <a  ng-click="outgoingLink('Cabriolet')" target="_blank" href="https://de.wikipedia.org/wiki/Cabriolet" title="Cabriolet">Cabriolet</a></td>
</tr>
<tr>
<td>Motoren:</td>
<td><a  ng-click="outgoingLink('Ottomotoren')" target="_blank" href="https://de.wikipedia.org/wiki/Ottomotor" title="Ottomotor">Ottomotoren</a>:<br>
1,0–2,5 Liter<br>
(77–294 kW)<br>
<a  ng-click="outgoingLink('Dieselmotoren')" target="_blank" href="https://de.wikipedia.org/wiki/Dieselmotor" title="Dieselmotor">Dieselmotoren</a>:<br>
1,6–2,0 Liter<br>
(77–135 kW)</td>
</tr>
<tr>
<td>Länge:</td>
<td>4237–4479&nbsp;mm</td>
</tr>
<tr>
<td>Breite:</td>
<td>1777–1802&nbsp;mm</td>
</tr>
<tr>
<td>Höhe:</td>
<td>1392–1425&nbsp;mm</td>
</tr>
<tr>
<td><a  ng-click="outgoingLink('Radstand')" target="_blank" href="https://de.wikipedia.org/wiki/Radstand" title="Radstand">Radstand</a>:</td>
<td>2595–2637&nbsp;mm</td>
</tr>
<tr>
<td><a  ng-click="outgoingLink('Leergewicht')" target="_blank" href="https://de.wikipedia.org/wiki/Leergewicht" title="Leergewicht">Leergewicht</a>:</td>
<td>1225–1695&nbsp;kg</td>
</tr>
<tr>
<td>Vorgängermodell:</td>
<td><a  ng-click="outgoingLink('Audi A3 8P')" target="_blank" href="https://de.wikipedia.org/wiki/Audi_A3_8P" title="Audi A3 8P">Audi A3 8P/8PA</a></td>
</tr>
<tr>
<td>Nachfolgemodell:</td>
<td>keines</td>
</tr>
</tbody></table>
<p></p>
<table cellspacing="4" cellpadding="4"
   style="border: 2px solid rgb(209, 209, 209); margin: 0.5em auto; clear: both; position: relative;">
   <tr>
      <td>
         <p>Dieser Artikel basiert auf dem Artikel
            <a  ng-click="outgoingLink('Audi_A3_8V')" target="_blank" rel="nofollow" class="" href="http://de.wikipedia.org/wiki/Audi_A3_8V">Audi A3 8V</a> aus der freien Enzyklopädie
            <a  ng-click="outgoingLink('Wikipedia')" target="_blank" rel="nofollow" class="" href="http://de.wikipedia.org/wiki/Wikipedia:Hauptseite">Wikipedia</a>
            und steht unter der Doppellizenz <a  ng-click="outgoingLink('Doppellizenz')" target="_blank" rel="nofollow" class="external text"
               href="http://www.hier-ihre-webseite-eintragen.de/lokale-fdl.txt">GNU-Lizenz für freie Dokumentation</a> und
            <a  ng-click="outgoingLink('creativecommons')" target="_blank" rel="nofollow" class="" href="http://creativecommons.org/licenses/by-sa/3.0/de/">
            Creative Commons CC-BY-SA 3.0 Unported</a> (<a  ng-click="outgoingLink('cc_kurzfassung')" target="_blank" rel="nofollow" class=""
               href="http://creativecommons.org/licenses/by-sa/3.0/de/legalcode">Kurzfassung</a>).
            In der Wikipedia ist eine <a  ng-click="outgoingLink('Autoren')" target="_blank" rel="nofollow" class=""
               href="http://de.wikipedia.org/w/index.php?title=Audi_A3_8V&amp;action=history">
            Liste der Autoren</a> verfügbar.
         </p>
      </td>
   </tr>
</table>